{
  "presets": [
        "es2015",
        "stage-0"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    [
      "../../../src",
      {
        "translation": "./test/translation.custom-grouped.de.json",
        "globalImport": true,
        "groupDir": "./test",
        "config": {
            "translations": { "key": "value" },
            "date": { "hour12": true }
        }
      }
    ]
  ]
}