{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "../../../src",
      {
        "translation": "./test/translation.custom-grouped.de.json",
        "globalImport": true,
        "groupDir": "./test",
        "config": {
            "translations": { "key": "value" },
            "date": { "hour12": true }
        }
      }
    ]
  ]
}