{
  "presets": [],
  "plugins": [
    [
      "../../../src",
      {
        "translation": "../test/translation.de.json",
        "globalImport": true,
        "config": {
            "translations": { "key": "value" },
            "date": { "hour12": true }
        }
      }
    ]
  ]
}